// @import "bootstrap-compass";
// @import "bootstrap-variables";
// @import "bootstrap";
@import "components/diy-slidedown";
body {
  padding-top: 70px;
  min-height: 410px;
  color: #111;
}
.tab-content p {
  padding: 10px 0;
}

